body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 10vw 1fr;
  grid-template-rows: auto 1fr;
}

.clickable:hover {
  cursor: pointer;
  color: dodgerblue;
}

.fa-ban {
  color: red;
}

.fa-plus {
  color: green;
}

.disabled {
  color: gray;
}
